/* 접근성 관련 CSS */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  /* 여기까지만해도 안지워지는경우를 대비한 밑에추가 */
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}